@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');
@import url(reset.css);

.main-container {
  margin: 0 auto;
  position: relative;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  background-color: #f9f9f9;
}
.header {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  min-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding: 0 140px;
}

.header__logo {
  color: white;
  justify-self: flex-start;
  align-self: flex-end;
  font-size: initial;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav {
  display: inline-block;
}
.header > a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

div.header__nav ul li {
  display: none;
}
.header__nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  justify-items: center;
  padding: 0;
  margin: 55px 0 0 0;
  list-style: none;
}

.header__nav-list-item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.4px;
}

.header__nav-list-item a:hover {
  text-decoration: underline;
}

.header__nav-list-item a {
  color: #ffffff;
  text-decoration: none;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.header__nav-menu-button {
  align-self: flex-end;
  display: none;
  justify-self: end;
}

.header__nav-menu-button ul li a {
  color: #fff;
  font-size: 2rem;
  align-self: center;
}

.section--image-peak {
  background: linear-gradient(
      to top,
      rgba(65, 65, 65, 0.5),
      rgba(65, 65, 65, 0.5)
    ),
    url(../assets/background.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.section--image-peak img {
  transition: transform 0.7s ease-in-out;
  transform: scale(0.7);
}

.section--image-peak img:hover {
  transform: scale(1) rotateY(180deg);
}

.section .title {
  color: #fff;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 64px;
  margin-top: 13px;
}

.section .subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 42px;
}

.section_2 {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.section_2 h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

.section_2 h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
.section_2 article {
  display: flex;
  gap: 83px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 0 120px 0 97px;
}
.section_2 article span {
  max-width: 415px;
  text-align: left;
}
.section_2 button {
  background-color: #55c2d8;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 17px 6px 18px;
  border-radius: 18px;
  font-family: Oswald Regular;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
}

.section_2 button:hover {
  transition: transform 0.7s ease-in-out;
  transform: rotate(15deg);
  transform-origin: 0 50%;
}

.section_3 {
  background: url('../assets/background-component3.png');
  position: relative;
  height: 100vh;
  width: 100%;
}
.layer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(140, 79, 42, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section_3 h2 {
  font-family: Oswald;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.section_3 button {
  background: #39c2d7;
  padding-left: 20px;
  width: 150px;
  height: 150px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-size: 5rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.section_3 button:hover {
  background-color: #fff;
  color: #39c2d7;
  transform: scale(0.98);
}
.section_3 h3 {
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

footer {
  height: 170px;
  background: #464547;
}
footer .content {
  display: flex;
  justify-content: space-around;
  height: 70%;
  align-items: center;
  margin-left: 145px;
}
footer p:first-child {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 14px;
}
footer p,
footer address,
footer address a {
  color: rgba(255, 255, 255, 0.4);
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer address a {
  display: block;
  text-decoration: none;
  padding-top: 25px;
}
footer p img {
  height: 20px;
  width: 20px;
}
footer address,
footer p:last-child {
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 25px;
  }
  .header__logo {
    justify-self: self-start;
  }
  .header__nav ul li {
    display: none;
  }
  div.header__nav-menu-button {
    display: block;
    margin-right: 5px;
  }
  .section_2 h2 {
    display: flex;
    overflow-wrap: break-word;
  }
  .section_2 article {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  footer {
    height: 292px;
  }
  footer div.content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  footer address,
  footer p:last-child {
    align-self: center;
  }
  footer p:first-child {
    padding-bottom: 0;
  }
  footer address a {
    padding-top: 20px;
  }
}
